* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.cabecalho h2 {
    color: rgb(26, 247, 118);
}

.secao-cards {
    background-color: rgb(236, 236, 236);
    padding: 50px 40px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    width: 300px;
    border-radius: 4px;
    background-color: aliceblue;
    box-shadow: 1px 1px 10px 1px gray;
}

.imagem {
    height: 200px;
}

.imagem img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.info {
    height: 150px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #000;
}

.info h3 {
    font-size: 20px;
}


.preço {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icone {
    border: 1px solid #c9c4c4;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

